<!DOCTYPE html>
<html>

  <head>
  <title>Daily Task List</title>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/cover.css" />
    <link rel="stylesheet" href="static/css/custom.css" />
  </head>

<body ng-app="Todo">     
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

<!--      
<div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div> 
-->

<h1>Daily Task List</h1>
<h4>Brought to you by Ace Eddleman</h4>

          <div class="inner cover">


          <div class="page-container" ng-controller="TodoCtrl">

            <!-- Todo list -->

    <ul class="todo-list" ng-repeat="todo in todos track by $index">
      <li>
        <span>{{ todo }}</span>
            <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
      </li>
    </ul>


<!-- Add a todo item -->

    <ul class="add-todo">
    <li>
      <input type="text" class="txt" placeholder="New todo item"
        ng-model="newTodo" ng-keyup="add($event)" />
    </li>
    </ul>
                          
          </div>


<!--       
<div class="mastfoot">
            <div class="inner">

            </div>
          </div> -->

        </div>

        <div class="inner cover">
          
      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->

<div id="gr_custom_widget_1406514147">

    <div class="gr_custom_container_1406514147">

    <h2 class="gr_custom_header_1406514147">
    <a href="https://www.goodreads.com/review/list/25057721-ace?shelf=to-read&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;"></a>
    </h2>
      <div class="gr_custom_each_container_1406514147">
          <div class="gr_custom_book_container_1406514147">
            <a href="https://www.goodreads.com/review/show/1006994461?utm_medium=api&amp;utm_source=custom_widget" title="Getting More: How to Negotiate to Achieve Your Goals in the Real World"><img alt="Getting More: How to Negotiate to Achieve Your Goals in the Real World" border="0" src="https://d.gr-assets.com/books/1392028607s/10048146.jpg" /></a>
          </div>
          <div class="gr_custom_title_1406514147">
            <a href="https://www.goodreads.com/review/show/1006994461?utm_medium=api&amp;utm_source=custom_widget">Getting More: How to Negotiate to Achieve Your Goals in the Real World</a>
          </div>
          <div class="gr_custom_author_1406514147">
            by <a href="https://www.goodreads.com/author/show/990947.Stuart_Diamond">Stuart Diamond</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1406514147">
          <div class="gr_custom_book_container_1406514147">
            <a href="https://www.goodreads.com/review/show/1006994757?utm_medium=api&amp;utm_source=custom_widget" title="Influence: Science and Practice"><img alt="Influence: Science and Practice" border="0" src="https://d.gr-assets.com/books/1349128462s/3591234.jpg" /></a>
          </div>
          <div class="gr_custom_title_1406514147">
            <a href="https://www.goodreads.com/review/show/1006994757?utm_medium=api&amp;utm_source=custom_widget">Influence: Science and Practice</a>
          </div>
          <div class="gr_custom_author_1406514147">
            by <a href="https://www.goodreads.com/author/show/160932.Robert_B_Cialdini">Robert B. Cialdini</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1406514147">
          <div class="gr_custom_book_container_1406514147">
            <a href="https://www.goodreads.com/review/show/1006990484?utm_medium=api&amp;utm_source=custom_widget" title="Thinking, Fast and Slow"><img alt="Thinking, Fast and Slow" border="0" src="https://d.gr-assets.com/books/1320385579s/12273377.jpg" /></a>
          </div>
          <div class="gr_custom_title_1406514147">
            <a href="https://www.goodreads.com/review/show/1006990484?utm_medium=api&amp;utm_source=custom_widget">Thinking, Fast and Slow</a>
          </div>
          <div class="gr_custom_author_1406514147">
            by <a href="https://www.goodreads.com/author/show/72401.Daniel_Kahneman">Daniel Kahneman</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1406514147">
          <div class="gr_custom_book_container_1406514147">
            <a href="https://www.goodreads.com/review/show/1008653212?utm_medium=api&amp;utm_source=custom_widget" title="Mastery"><img alt="Mastery" border="0" src="https://d.gr-assets.com/books/1348274726s/13589182.jpg" /></a>
          </div>
          <div class="gr_custom_title_1406514147">
            <a href="https://www.goodreads.com/review/show/1008653212?utm_medium=api&amp;utm_source=custom_widget">Mastery</a>
          </div>
          <div class="gr_custom_author_1406514147">
            by <a href="https://www.goodreads.com/author/show/865.Robert_Greene">Robert Greene</a>
          </div>
      </div>
      <div class="gr_custom_each_container_1406514147">
          <div class="gr_custom_book_container_1406514147">
            <a href="https://www.goodreads.com/review/show/1007362945?utm_medium=api&amp;utm_source=custom_widget" title="Concepts of Programming Languages (10th Edition)"><img alt="Concepts of Programming Languages" border="0" src="https://d.gr-assets.com/books/1348329491s/12470216.jpg" /></a>
          </div>
          <div class="gr_custom_title_1406514147">
            <a href="https://www.goodreads.com/review/show/1007362945?utm_medium=api&amp;utm_source=custom_widget">Concepts of Programming Languages</a>
          </div>
          <div class="gr_custom_author_1406514147">
            by <a href="https://www.goodreads.com/author/show/64944.Robert_W_Sebesta">Robert W. Sebesta</a>
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a href="https://www.goodreads.com/"><img alt="goodreads.com" src="https://www.goodreads.com/images/widget/widget_logo.gif" style="border:0" /></a>
  </center>
  <noscript>
    Share <a href="https://www.goodreads.com/">book reviews</a> and ratings with Ace, and even join a <a href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/25057721.Books%20To%20Read?cover_position=left&cover_size=small&num_books=5&order=a&shelf=to-read&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=position&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1406514147&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>

        </div>

      </div>

    </div>


    </div>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.8/angular.js"></script>
    <script src="static/js/script.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>



</div>

  </body>

</html>
