* {
  box-sizing: border-box;
  font-family: 'Merriweather', Arial;
  color: #000000;
  font-weight: 100;
}

html, body {
  height: 100%;
  width: 100%;
}

a { color: #000000;}
a:hover { color: #000000; }

body {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(79, 136, 209);
  background-origin: padding-box;
  background-size: auto;
}

h1 { color:white; }

h2 {
  text-align: center;
  font-weight: 900;
  color:white;
}

h4 {
  text-align: center;
  font-weight: 900;
  color:white;
}

.masthead-brand { color: white; text-align:center;}
.site-wrapper-inner { vertical-align: top; }

.rebel {
  color: #ff6450;
}

.achieve {
  color: #9dc9a8;

}

.bt {
  width: 60px;
  border: none;
  cursor: pointer;
  outline: none;
}

.bt.bt-rebel {
  background: #ff6450;
  color: #fff;
}

.bt.bt-achieve {
  background: #6091DB;
  color: #fff;
}

.txt {
  background: transparent;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #808080;
  width: 90%;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  background:#fff;
  padding:100px;
  border-radius:10px;
}

.add-todo .txt {
  padding: 10px;
}

.todo-list, .add-todo {
  list-style-type: none;
  text-align: left;
}

.todo-list li {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #000000;
  width: 90%;
  position: relative;
  min-height: 100%;
  cursor: pointer;
}

.todo-list li .bt {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.todo-list li .bt:hover {
  width: 80px;
}

/* Goodreads */

  .gr_custom_container_1406514147 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    width: 100%;
    margin:auto auto 50px auto;
    text-align:center;
  }


  .gr_custom_header_1406514147 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    color: #000000;
    font-size: 120%
  }
  .gr_custom_each_container_1406514147 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    border-bottom: 1px solid #aaa;
        color: #000000;
    padding:10px;
  }
  .gr_custom_book_container_1406514147 {
    /* customize your book covers here */
    overflow: hidden;
    height: 20%;
      float: left;
      margin-right: 0;
      width: 20%;
  }


  .gr_custom_author_1406514147 {
    /* customize your author names here */
    font-size: 10px;
    margin:auto;
  }