* {
  box-sizing: border-box;
  font-family: 'Merriweather', Arial;
  color: #000000;
  font-weight: 100;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: green;
  background-origin: padding-box;
  background-size: auto;
}

h2 {
  text-align: center;
  font-weight: 900;
  color:white;
}

h4 {
  text-align: center;
  font-weight: 900;
  color:white;
}

.rebel {
  color: #ff6450;
}

.achieve {
  color: #9dc9a8;

}

.bt {
  width: 60px;
  border: none;
  cursor: pointer;
  outline: none;
}

.bt.bt-rebel {
  background: #ff6450;
  color: #fff;
}

.bt.bt-achieve {
  background: #6091DB;
  color: #fff;
}

.txt {
  background: transparent;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #808080;
  width: 90%;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

.page-container {
  width: 70%;
  margin: 0 auto;
  background:#fff;
  padding:100px;
  border-radius:10px;
}

.add-todo .txt {
  padding: 10px;
}

.todo-list, .add-todo {
  list-style-type: none;
  text-align: left;
}

.todo-list li {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #000000;
  width: 90%;
  position: relative;
  min-height: 100%;
  cursor: pointer;
}

.todo-list li .bt {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.todo-list li .bt:hover {
  width: 80px;
}